<phpunit 
	colors="true" 
	bootstrap="./TestHelper.php"
	convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true">
    <testsuite name="Brightpearl">
        <directory suffix='.php'>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">/../application/</directory>
            <exclude>
                <directory suffix=".phtml">/../application/</directory>
                <directory suffix=".php">/../application/controllers/</directory>
            </exclude>
        </whitelist>
    </filter>
 
    <logging>
        <log highlowerbound="100" lowupperbound="50" highlight="true" yui="true" charset="UTF-8" target="./log/report" type="coverage-html"></log>
        <log target="./log/testdox.html" type="testdox-html"></log>
    </logging>
</phpunit>